.heroSectionBackground {
  position: relative;
  overflow: hidden;
}

.heroSectionBackground::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/flower-pana.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.05;
  z-index: 0;
}